//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

class {{ module_info.name }}Interactor: NSObject, {{ module_info.name }}InteractorInput {

    weak var output: {{ module_info.name }}InteractorOutput!

    var serviceFacade: ServiceFacade

    dynamic init(_ serviceFacade: ServiceFacade) {
        self.serviceFacade = serviceFacade
        super.init()
    }
}
