//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

class {{ module_info.name }}Presenter: NSObject, {{ module_info.name }}ViewOutput, {{ module_info.name }}InteractorOutput, {{ module_info.name }}ModuleInput {

    weak var viewInput: {{ module_info.name }}ViewInput!
    weak var moduleOutput: {{ module_info.name }}ModuleOutput?

    var interactor: {{ module_info.name }}InteractorInput!

    override dynamic init() {
        super.init()
        initialize()
    }

    func initialize() {

    }

    func setupDependencies() {

    }

    //MARK: {{ module_info.name }}InteractorOutput methods

    internal func viewIsReady() {

    }

    internal func viewWillAppear() {

    }

    //MARK:

    internal func getViewLayer() -> Any {
        return view
    }
}
