//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import Typhoon

class {{ module_info.name }}Assembly: TyphoonAssembly {

    public dynamic func {{ module_info.name }}ViewControllerAssembly() -> AnyObject {
        return TyphoonDefinition.withClass({{ module_info.name }}ViewController.self, configuration: {
            (definition) in
            definition?.injectProperty(Selector(("output")), with: self.{{ module_info.name }}PresenterAssembly())
        }) as AnyObject
        //Perform an initializer injection
    }

    public dynamic func {{ module_info.name }}PresenterAssembly() -> AnyObject {
        return TyphoonDefinition.withClass({{ module_info.name }}Presenter.self, configuration: {
            (definition) in
            definition?.injectProperty(Selector(("viewInput")), with: self.{{ module_info.name }}ViewControllerAssembly())
            definition?.injectProperty(Selector(("interactor")), with: self.{{ module_info.name }}InteractorAssembly())

            definition?.perform(afterAllInjections: Selector(("setupDependencies")))
        }) as AnyObject

    }

    public dynamic func {{ module_info.name }}InteractorAssembly() -> AnyObject {
        return TyphoonDefinition.withClass({{ module_info.name }}Interactor.self, configuration: {
            (definition) in
            definition?.useInitializer(Selector(("init:")), parameters: {
                (initializer) in
                initializer?.injectParameter(with: ServiceFacade.shared)
            })
            definition?.injectProperty(Selector(("output")), with: self.{{ module_info.name }}PresenterAssembly())
        }) as AnyObject
    }

}
