//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

@objc protocol {{ module_info.name }}ModuleInput: class {

    weak var moduleOutput: {{ module_info.name }}ModuleOutput? { get set }

    func getViewLayer() -> Any

}
